* {
    margin: 0px;
    padding: 0px;
    border: none;
}

html {
    width: 100%;
    /*height: 101%;*/
    height: auto;
    /* height: 766px; */
    font: normal 100% Helvetica, Arial, sans-serif;
    /*font-size:12px;*/
    /* font: normal 87.5% Helvetica, Arial, sans-serif; */

    background-size: 100% auto;
    background-position-x: center;
    background-position-y: top;
    background-repeat: repeat;
    background-image: url('../skins/bg_1_end10.png');

}

body {
    width: 100%;
    height: auto;
    /* height: auto; */

    display: block;
    /* overflow-x: hidden; */


    /* display: none; */
    /* visibility: hidden; */
    /* 
    background-size: 100% auto;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    background-image: url('../skins/bg_1.png'); */
}
hr {
    border-top:1px solid black;
}


a {
    outline: none;
    /* color: black; */
}

a:focus {
    outline: none;
}

#background {
    width: 100%;
    /* min-height: 400px; */
    /* height: 100% !important; */
    height: auto;
    /* min-height: 800px; */
    /* height: 200px; */

    /* background-size: 100% auto; */
    background-position-x: center;
    background-position-y: top;
    /* background-repeat: no-repeat;
    background-image: url('../skins/bg_1.png'); */

}
.bg1{
    background-size: 100% auto;

    background-repeat: no-repeat;
    background-image: url('../skins/bg_1_c.jpg');
}
.bg2{
    background-size: 100% auto;

    background-repeat: repeat-y;
    background-image: url('../skins/bg_2_c.png');
}
.bg3{
    background-size: auto auto;

    background-repeat: repeat;
    background-image: url('../skins/bg_3_c.jpg');
}
.bg4{
    background-size: 100% 100%;

    background-repeat: no-repeat;
    background-image: url('../skins/bg_4_c.jpg');
}
/* :visited */
/* #noJs:link{
    opacity: 1;
} */
/* #noJs:link{
    opacity: 0;
    z-index: -51;
    visibility: hidden;
    display: none;
} */
/* #noJs:focus{
    opacity: 0;
    z-index: -51;
    visibility: hidden;
    display: none;
} */
/* #noJs:visited{
    opacity: 0;
    z-index: -51;
    visibility: hidden;
    display: none;
}
#noJs:active{
    opacity: 0;
    z-index: -51;
    visibility: hidden;
    display: none;
} */

.big {
    font-size: 1.1rem;
}

.small {
    font-size: 0.875rem;
}

.smaller {
    font-size: 0.75rem;
}





#foutyPct {
    width: 100%;
    height: 40%;
    /* border: solid 1px; */
    /*vertical-align: text-top;*/
    /* min-height: 700px; */
}

/* table{
} */
table td {
    /* border: solid white 0.1px; */
    /*vertical-align: top;*/
}

#flow {
    height: 1.2rem;
    vertical-align: bottom;
}

#flow iframe {
    /* margin-left: 10px;
    margin-top: 10px; */
    /* background-color: blue; */
    display: inline-block;

    margin: 0px;
    padding: 0px;
    margin-left: 0.5rem;
    /* float: left; */
    /* display: block; */

    /* width: auto; */
    /* width: 100%; */
    /* margin-left: 0.5rem; */

    width: 80%;
    width: calc((100% - 0.5rem) * 0.85);
    height: 1.2rem;
    /* width: calc(70%); */
    /* max-width: 60%; */
    /* width: 100%; */
    /* height: 100%; */
    /* max-height: 16px; */
    /* height:1.2rem; */
}

#menu {
    /* width: 5rem; */
    /*min-width: 5rem;*/
    /* max-width: 10rem; */
    /*height: 100%;*/
    /* max-height: 12rem; */
    width: auto;
    height: auto;

    /* min-width: 4.45rem; */
    /* width: 100%; */

    text-align: right;
    vertical-align: top;
    /*vertical-align: text-top;*/
    /* line-height: 1.7rem; */
    /* margin: 0 0 50% 0; */
}

/* #menu1a {
    height: 0px;
    padding-top: 1rem;
    background-color: blue;
}

#menu a {
    font-weight: bold;
    
    text-decoration: none;

    color: rgb(0, 0, 145);
} */
#menu1a {
    height: 1.2rem;
    /* background-color: blue; */
}
#items{
    line-height: 1.5rem;
}

#menu a {
    /* font-weight: 590; */

    text-decoration: none;

    /* color: rgb(20, 20, 40); */
    color:#ddd;
    /* color: rgb(161, 216, 230);
    color: rgb(89, 195, 226);
    color: rgb(34, 174, 230);
    color: rgb(148, 198, 221); 
    color: rgb(0, 123, 187); */
    /* color: rgb(64, 100, 255); */
    /* color: rgb(30, 30, 50); */
    /* color: rgb(139, 176, 205); */
    font-size: 1rem;
}

#menuLeft {
    height: auto;
}

#menuRight {
    /* min-width: 55px; */
    height: auto;
}

#mark {
    width: auto;
    height: auto;

    /* height: 20%; */
    /* vertical-align: top; */
    /* vertical-align: bottom; */

    /* background-color: white; */
}

#skin,
#music {
    width: 1.8rem;
    height: 1.8rem;
    float: left;
    margin-left: 0.5rem;
}

/* #mark div {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    margin-left: 0.5rem;

}
#skin{
    background-image: 'skins/skin.png';
}
#music{
    background-image: 'skins/48.gif';
} */

/* #textPic {
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: bottom;
}
#textPic div{
    vertical-align: bottom;
}
#textPic div img{
    width: 90%;
    height: auto;
} */
#textPic {
    width: 100%;
    height: auto;
    text-align: center;
    vertical-align: bottom;
}

/* #textPic img {
    width: 90%;
    height: auto;
} */
#textPic1a {
    display: inline-block;
    width: 90%;
    height: auto;
    /* max-height: 90%; */

    /* background-image: url('../skins/text2_s.png');
    background-size: cover;
    padding-top: 26%;
    background-position-y: bottom; */
}

.phone_textPic1a {
    background-image: url('../skins/text2_s_c.png');
    background-size: cover;
    /* background-size: 100% 100%; */
    padding-top: 26%;
    /* padding-top: 27%; */
    background-position-y: bottom;
}

.pc_textPic1a {
    background-image: url('../skins/text2.png');
    background-size: cover;
    padding-top: 19.5%;
    background-position-y: bottom;
}

#introduce1a {
    width: 100%;
    height: auto;

    /* color: rgb(30, 30, 30); */
    color: #bbb;
    /* width: 100%; */
    /* white-space: nowrap; */
    /* overflow: hidden; */
}

/* #textPic td{
    height: 270%;
} */
/* ———————————————————————————————————————————————————————————— */
#tr_flow {
    /* height: 1.2rem; */
    /* height: 0.1%; */
    /* text-align: left; */
    /* line-height: 1.2rem; */
    /* vertical-align: bottom; */
}


#tr_mark {
    /* height: 20%; */
    /*min-height:2rem;*/
    /* vertical-align: bottom; */
    height: 2rem;
}

/* #menu {
    height: 100%;
} */
#tr_textPic1 {
    /* width: 30%; */
    /* height: 100%; */
    height: 5rem;
}

#tr_textPic2 {
    /* width: 100%; */
    /* height:100%; */
    /* height: 20%; */
}

#tr_introduce {
    /* min-width: 100px; */
}

#introduce {
    /* width: 100%; */
    width: auto;
    /* height: auto; */
    /* height: 100%; */
    text-align: right;
    vertical-align: top;

    /* max-width: 100%; */
}

/* ———————————————————————————————————————————————————————————— */

#introduce1a {
    height: 1rem;
    display: inline-block;
    line-height: 1rem;
    /* vertical-align: bottom; */
    overflow: hidden;
    word-break: break-all;
}



#restPct {
    width: 100%;
    /* width: 1200px; */
    height: 60%;
}

/* #restPct tr td{
    width:20%;
} */


#broadcast {
    width: auto;
    height: 20%;
    text-align: center;
}

#belowBroadcast {
    height: 10%;
}

#tr_content {
    /*width: 100%;*/
    /*text-align: center;*/
    /*vertical-align:bottom;*/
    /*background-color: blue;*/
    /* min-height: 40%; */
    /* height: 10px; */
    /* height: 40%; */

}

/* #tr_content + tr{
    min-height: 100px;
} */

/* phone discarded*/
/* #leftContent0,
#rightContent0 {
    text-align: center;

}
.phone_leftContent,
.phone_rightContent {
    width: 100%;
    height: 80%;
    display: inline-block;
} */



#leftText,
#rightText {
    position: absolute;
    left: 0px;
    bottom: 0px;

    /* background-color: black; */

    width: 96%;
    height: 2.45rem;
    /* display: inline-block; */
    line-height: 1.25rem;
    overflow: hidden;
    /* word-break: break-all; */

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    background-color: rgb(66, 66, 66);
    background-color: rgba(66, 66, 66, 0.5);
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    /* padding-bottom: 1%; */
    /* padding: 1%; */

    color: #ccc;
    font-size: 0.95rem;
}

#leftText0,
#rightText0 {
    /* max-height: 40px;
    display: inline-block;
    line-height: 20px;
    vertical-align: bottom;
    overflow: hidden;
    word-break: break-all; */



    width: 100%;
    height: 100%;

    position: relative;

    /* left: 2%; */
    /* bottom: 0.3rem; */

    /* background-color: white; */

    /* height: 0px;
    padding-bottom: 2rem;
    line-height: 0px; */
}

/* #td_rightContent {
    width: 0px;
} */


#leftContent,
#rightContent {
    /* border: solid red 1px; */
    border-radius: 0.2rem;

    text-align: left;


    display: inline-block;

    /* height: 100%; */
    /* opacity: 0.8; */
}

.phone_leftContent,
.phone_rightContent {
    position: absolute;

    max-width: 90%;

    padding-top: 0px;

    /* 清除默认 */
    margin: 0px;
}

.phone_leftContent {
    left: 6%;
    z-index: 2;

    bottom: 0px;
}

.phone_rightContent {
    right: 6%;
    z-index: 1;

    bottom: 0px;
}

.pc_leftContent,
.pc_rightContent {
    position: absolute;

    bottom: 0px;
    max-width: 85%;

    padding-top: 0px;

    /* 清除默认 */
    margin: 0px;
}

.pc_leftContent {
    left: 15%;
    z-index: 2;

    /* left: calc((100% - 500px) / 2); */
    /* left: -15%; */
}

.pc_rightContent {
    right: 15%;
    z-index: 1;
}

/* 就近原则，必须放在pc后才能生效 */
.pre_leftContent,
.pre_rightContent {
    position: static;

    /* padding-top: 6rem; */
    /* height: 6rem; */
    height: 100%;

    width: 33%;
    width: 40vmin;
}

.pre_leftContent {
    margin-right: 10%;
    margin-right: 5vmin;
    margin-right: calc((100% - 80vmin) / 3.3);
}

/* pc */
#content {
    width: 100%;
    /* height: 40%; */
    position: relative;
    /* background-color: blue; */

    font-size: 1rem;

    text-align: center;


    height: 6.5rem;
    height: 27vmin;

}

#leftContent {
    /* margin-right: -50%; */
    /* background-color: rgb(135,206,235); */
    background-color: rgb(225, 225, 205);
    /* background-color: rgba(135,206,235, 0.9); */
    /* background-color: green; */
    background-image: url('../skins/KELLEPICS-Pixabay.jpg');
    background-size: auto 100%;
}

#rightContent {
    /*width: 40%;
    height: 100%;*/
    /* width: 10px; */
    /*height: 160px;*/
    /* width: auto;
    height: auto; */
    /* margin-right: calc(50% + 100px); */
    /*padding-top:50%;*/
    background-color: rgb(205, 225, 225);
    /* background-color: rgba(255, 255, 255, 0.9); */
    background-image: url('../skins/happycat230-Pixabaya.jpg');
    background-size: 100% 100%;
}

#today {
    text-align: right;
    padding-right: 1rem;
    color: #bbb;
    font-size: 
}

#info {
    width: 70%;
    /* height: 9rem; */
    /* height: auto; */
    margin: 0 auto;

    color: rgb(66, 66, 66);
}

#Info0 {
    /* background-color: rgb(53, 67, 121); */
    background-color: rgb(205, 205, 205);
    background-color: rgba(205, 205, 205, 0.8);
}

.hide {
    display: none;
}

.showBlock {
    display: block;
}

@media screen and (min-width: 30rem) {
    #textPic1a {
        background-image: url('../skins/text2.png');
        background-size: cover;
        padding-top: 19.5%;
        background-position-y: bottom;
    }

}
@media screen and (max-width: 30rem) {
    #textPic1a {
        background-image: url('../skins/text2_s_c.png');
        background-size: cover;
        padding-top: 26%;/*30%*/
        background-position-y: bottom;
    }

}